/* 
  =========================
  Custom Styles
  ==========================
*/
html {
  background: #fff;
}
body {
  color: #868686;
  font: 400 16px/22px "Josefin Sans", Georgia, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 
  =========================
  Header and Navbar Styles
  ==========================
*/
header img {
  width: 20%;
}
.hero-content {
  text-align: center;
}
.navbar a {
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.navbar li {
  display: inline-block;
  padding-left: 44px;
  padding-right: 44px;
  position: relative;
}
.navbar a:hover {
  color: #769685;
  display: block;
}
.navbar li ul.dropdown {
  min-width: 125px;
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
.navbar li:hover ul.dropdown {
  display: block;
}
.navbar li ul.dropdown li {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Navbar Line */
.navbar {
  display: felx;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.navbar:before, .navbar:after {
  background-color: #e6e6e6;
  content: '\a0';
  flex-grow: 1;
  height: 2px;
  position: relative;
  top: 0.5;
}
.navbar:before {
  margin-right: 10px;
}
.navbar:after {
  margin-left: 10px;
}

/* 
  =========================
  Intro Image Styles
  ==========================
*/
.intro-image {
  padding-top: 66px;
  clear: both;
}

/* 
  =========================
  Intro Text Styles
  ==========================
*/
.intro-text {
  text-align: center;
  padding: 120px 120px 0 120px;
  clear: both;
}
.intro-text h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #6c6c6c;
  line-height: 1.1em;
}
.intro-text p {
  font-size: 1.5em;
  padding-top: 16px;
}

/* Intro Text Line */
.intro-text h2 {
  position: relative;
  text-align: center;
}
.intro-text h2 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
.intro-text h2:before {
  background: #e6e6e6;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
    top: 50%;
  width: 100%;
}
.intro-text h2:before {
  left: 0;
}

/* 
  =========================
  Links Styles
  ==========================
*/
.links {
  padding-top: 44px;
  text-align: center;
}
.links .column {
  padding: 22px;
}
.links h4 {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 24px;
}
.links a {
  color: #444;
}
.links a:hover {
  color: #769685;
}
img.gray {
  -webkit-filter: grayscale(100%);
}
img.gray:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/* 
  =========================
  Footer Styles
  ==========================
*/
.footer {
  background: #fff;
  border-top: 2px solid #e6e6e6;
  padding: 22px 0;
  margin-top: 120px;
}
.footer p:first-child {
  text-transform: uppercase;
}
.footer-icons {
  text-align: right;
  padding-top: 22px;
}
.footer a:hover {
  color: #769685;
}
.footer a:not(.icon) {
  border-bottom: none;
}


/* 
  =========================
  About Page Styles
  ==========================
*/
.about {
  padding-top: 60px;
}
.about-title h2 {
  font-size: 2em;
}
.about p {
  font-size: 1.5em;
  line-height: 1.5em;
}
.about .column {
  padding: 0;
  margin: 0;
}
.about .columns:not(:last-child) {
    margin-bottom: 0;
}

/* 
  =========================
  Workshop Page Styles
  ==========================
*/
.workshop-title h2 {
  font-size: 2em;
}
.workshop-title a {
  color: #868686;
  font-weight: 700;
}
.workshop-title a:hover {
  color: #769685;
}
.workshop-title p {
  line-height: 2em;
}
.workshop-gallery {
  padding-top: 120px;
}

/* 
  =========================
  Gallery Page Styles
  ==========================
*/
.gallery-title h2 {
  font-size: 2em;
}
.gallery {
  padding-top: 44px;
}

/* 
  =========================
  Order Page Styles
  ==========================
*/
.order-title h2 {
  font-size: 2em;
}
.intro-text .order-text,
.intro-text .base-text,
.intro-text .wait-text {
  padding-top: 44px;
}
.contact-title h2,
.base-title h2,
.wait-title h2 {
  font-size: 1.5em;
}
.base-title,
.wait-title {
  padding: 120px 60px 60px 60px;
  text-align: left;
}
.contact-title h2 a {
  color: #6c6c6c;
  cursor: text;
}
.contact-form {
  padding-top: 60px;
}
.label {
  text-transform: uppercase;
  text-align: left;
  padding-top: 12px;
  color: #6c6c6c;
  cursor: text;
}
.contact-form p {
  padding-top: 0;
}
.input,
.textarea {
  border-radius: 0;
  box-shadow: none;
}
.textarea:focus,
.textarea:active,
.input:focus,
.input:active {
  border-color: #769685;
}
.button {
  border-radius: 0;
  background: #69707A;
  border-color: #69707A;
  color: #fff;
}
.button:hover {
  background: #769685;
  border-color: #769685;
  color: #fff;
}
.submit-button {
  margin-top: 24px;
}


/* 
  =====================================
  Navigation Bar for Mobile and Tablet
  =====================================
*/
.nav-mobile {
  display: none; /* Hide frm browsers that don't support media queries */
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/* Hamburgersssss!!!! >:( */
.nav-mobile {
  width: 23px;
  height: 16px;
  cursor: pointer;
}
.nav-mobile span,
.nav-mobile span:before,
.nav-mobile span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 23px;
  top: 6px;
  background: #333;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.nav-mobile span:before {
  top: -6px;
}
.nav-mobile span:after {
  bottom: -12px;
}
.nav-mobile.nav-mobile-open span {
  background-color: transparent;
}
.nav-mobile.nav-mobile-open span:before,
.nav-mobile.nav-mobile-open span:after {
  top: 0;
}
.nav-mobile.nav-mobile-open span:before {
  transform: rotate(45deg);
}
.nav-mobile.nav-mobile-open span:after {
  transform: rotate(-45deg);
}

/* 
  =========================
  Scroll to Top
  ==========================
*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/backToTop.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, 
.cd-top.cd-fade-out, 
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: .5;
}
.cd-top.cd-fade-out {
  /* if user keeps scrolling down, button is out of focus and becomes less visable */
  opacity: .5;
}
.cd-top:hover {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* 
  =========================
  Media Queries
  ==========================
*/

@media (min-width: 1180px) {
  .container {
    max-width: 960px;
  }
}



/* iPads portrait and landscape */
@media (min-width: 768px) and (max-width: 1024px) {
  header img {
    width: 20%;
  }
  .links h4 {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-top: 12px;
  }
}


/* Tablet and Smartphone */
@media (min-width: 300px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
      img.gray {
      -webkit-filter: grayscale(0%);
    }
}

@media (max-width: 1180px) {
  .navbar:before, .navbar:after {
    background-color: #fff;
  }

  /* Intro Text Line */
  .intro-text h2:before {
    background: #fff;
  }
  .intro-text h2 span {
    padding: 0;
  }
  .intro-text {
    padding: 60px 0 0 0;
  }

  .footer-icons {
    text-align: left;
  }
}

@media (min-width: 300px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) {
  .hero-content {
    padding: 0;
    width: 75%;
    text-align: left;
    display: inline-block;
  }
  .navbar:before, .navbar:after {
    background-color: #fff;
  }

  /* Intro Text Line */
  .intro-text h2:before {
    background: #fff;
  }
  .intro-text h2 span {
    padding: 0;
  }
  .intro-text {
    padding: 60px 0 0 0;
  }

  .footer-icons {
    text-align: left;
  }
}

/* Smartphones portrait and landscape */
@media (min-width: 300px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  header img {
    width: 50%;
  }
  /* Intro Text Line */
  .intro-text h2 {
    font-size: 2em;
  }
  .intro-text p {
    padding: 12px;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .links {
    padding-top: 0;
  }
  .links h4 {
    padding-top: 0;
  }
  .about p {
    padding: 0 12px;
  }
  .label {
    padding: 0 12px;
  }
  .contact-form p {
    padding-top: 0;
  }
  .workshop-title p {
    padding-top: 22px;
    line-height: 1.5em;
  }
  .workshop-gallery {
    padding-top: 44px;
  }
  .footer {
    margin-top: 60px;
  }
}

/* Tablet and Smartphone Nav Bar */
@media (min-width: 320px) and (max-width: 768px), (max-width: 768px) {
  .navbar {
    width: 25%;
    float: right;
    top: 20px;
  }
  .nav-item {
    width: 100%;
    float: none;
  }
  .nav-mobile {
    display: block;
  }
  .nav-list {
    display: block;
    overflow: hidden;
    height: 0px;
    float: right;
    max-width: 200px;
    -webkit-transition: height 0.25s ease-in-out;
    -moz-transition: height 0.25s ease-in-out;
    -o-transition: height 0.25s ease-in-out;
    transition: height 0.25s ease-in-out;
  }
  .nav-active {
    display: block;
    height: 150px;
  }
  .navbar li {
    text-align: right;
    padding: 6px 44px;
  }
}




