 <!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Garibaldi Instruments</title>

  <link rel="stylesheet" href="assets/stylesheets/bulma.css">
  <link rel="stylesheet" href="assets/stylesheets/main.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Tenor+Sans|Josefin+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
  
<body class="box">
  <header class="hero">
  <!-- Logo -->
    <div class="hero-content">
      <div class="container">
        <a href="index.html"><img src="assets/images/logo01.png" alt="Garibaldi Instruments Logo"></a>
      </div>
    </div>

    <!-- Navigation -->
    <div class="container navbar">
      <ul class="nav-list">
       <li class="nav-item"><a class="link is-info" href="about.html">About</a></li>    
        <li class="nav-item"><a class="link is-info" href="workshop.html">Workshop</a>
        <!--
          <ul class="dropdown"> 
            <li><a class="workshop" href="#">Process</a></li>
            <li><a class="workshop" href="#">Materials</a></li>
          </ul>
          -->
        </li>
        <li class="nav-item"><a class="link is-info" href="gallery.html">Gallery</a></li>
        <li class="nav-item"><a class="link is-info" href="order.html">Order</a></li>
      </ul>
    </div>

  </header>

  <!-- Intro Text -->
  <div class="container order-title intro-text">
    <h2><span>Ordering</span></h2> 
    <p class="order-text">Are you interested in ordering a custom instrument?</p>
  </div>


  <div class="container">
    <div class="columns">
      <!-- Base Price and Payment Info -->
      <div class="column is-half base-title intro-text">
        <h2><span>Base price and payment</span></h2> 
        <p class="base-text">The current base price for a new Garibaldi guitar is $1000</p>
        <p>A deposit of $300 is required upon order</p>
        <p>After the instrument is completed, the remaining balance plus shipping (and 7% sales tax for British Columbia residents) is due before delivery</p>
        <p>The deposit can be paid via PayPal or Bank Transfer</p>
      </div>

      <!-- Wait Period Info -->
      <div class="column wait-title intro-text">
        <h2><span>Wait period</span></h2> 
        <p class="wait-text">The wait period is usually less than 1 year (please contact to inquire about current wait period)</p>
        <p>There are usually pre-owned Garibaldi Guitars avaiable. Please contact for a list of available insturments</p>
      </div>
    </div>
  </div>  

  <!-- Contact Form -->
  <div class="container contact-title intro-text">
    <h2><span><a name="contact">Contact</a></span></h2> 

    <div class="columns">
      <div class="contact-form column is-6 is-offset-3">
        <form id="order-form">
          <div class="notification is-success is-hidden" role="alert">Thanks for your inquiry!</div>
          <div class="notification is-danger is-hidden" role="alert">Oops, we had trouble sending your email, please try again!</div>

          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

          <label class="label">Name</label>
          <p class="control">
            <input name="name" class="input" type="text" placeholder="Name" minlength="2" required>
          </p>

          <label class="label">Email</label>
          <p class="control">
            <input name="email" class="input" type="email" placeholder="hello@example.com" required>
          </p>

          <label class="label">Message</label>
          <p class="control">
            <textarea name="message" class="textarea" placeholder="Your Message" required></textarea>
          </p>

          <p class="control submit-button">
            <button type="submit" class="button">Submit</button>
          </p>
        </form>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <div class="container footer">
    <div class="columns">
      <div class="column is-one-quarter">
        <p>Garibaldi Instruments</p>
        <p>All Rights Reserved 2016</p>
      </div>
      <div class="column footer-icons">
        <span class="icon is-medium">
          <a href="https://www.facebook.com/profile.php?id=707777824&fref=ts" title="Garibaldi Instrument facebook page."><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </span>
        <span class="icon is-medium">
          <a href="order.html#contact" title="contact form"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>
  </div>

  <!-- scroll to top -->
  <a href="#0" class="cd-top">Top</a>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
  <script src="/js/order.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/scrollToTop.js"></script>

</body>
</html>

